<config>
    <subdomains>
        <subdomain>http://secureline.tools.avast.com</subdomain>
        <subdomain>http://gf.tools.avast.com</subdomain>
    </subdomains>

    <cookies>
        <!-- avast -->
        <cookie name="dlp-avast" host="amazon">mmm_amz_dlp_777_ppc_m</cookie>
        <!-- avg -->
        <cookie name="dlp-avg" host="vector">mmm_vct_dlp_779_ppc_m</cookie>
    </cookies>
</config>